/* body {
    background: linear-gradient(45deg, rgb(56, 120, 78),rgb(175, 255, 102));

    } */

    .header {
        text-align: center;
        height: 300px;
        padding: 12px;
        background: linear-gradient(45deg, rgb(56, 120, 78),rgb(175, 255, 102)); 

    }

    .headerT {text-align: center;
    height: 300px;
    padding: 12px;
    background: linear-gradient(45deg, rgba(50, 50, 50, 0.01) 0%, rgba(50, 50, 50, 0.01) 14.286%,rgba(236, 236, 236, 0.01) 14.286%, rgba(236, 236, 236, 0.01) 28.572%,rgba(108, 108, 108, 0.01) 28.572%, rgba(108, 108, 108, 0.01) 42.858%,rgba(160, 160, 160, 0.01) 42.858%, rgba(160, 160, 160, 0.01) 57.144%,rgba(105, 105, 105, 0.01) 57.144%, rgba(105, 105, 105, 0.01) 71.42999999999999%,rgba(151, 151, 151, 0.01) 71.43%, rgba(151, 151, 151, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(135deg, rgba(183, 183, 183, 0.1) 0%, rgba(183, 183, 183, 0.1) 20%,rgba(112, 112, 112, 0.1) 20%, rgba(112, 112, 112, 0.1) 40%,rgba(6, 6, 6, 0.1) 40%, rgba(6, 6, 6, 0.1) 60%,rgba(36, 36, 36, 0.1) 60%, rgba(36, 36, 36, 0.1) 80%,rgba(78, 78, 78, 0.1) 80%, rgba(78, 78, 78, 0.1) 100%),linear-gradient(0deg, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 12.5%,rgba(248, 248, 248, 0.03) 12.5%, rgba(248, 248, 248, 0.03) 25%,rgba(9, 9, 9, 0.03) 25%, rgba(9, 9, 9, 0.03) 37.5%,rgba(170, 170, 170, 0.03) 37.5%, rgba(170, 170, 170, 0.03) 50%,rgba(171, 171, 171, 0.03) 50%, rgba(171, 171, 171, 0.03) 62.5%,rgba(42, 42, 42, 0.03) 62.5%, rgba(42, 42, 42, 0.03) 75%,rgba(182, 182, 182, 0.03) 75%, rgba(182, 182, 182, 0.03) 87.5%,rgba(169, 169, 169, 0.03) 87.5%, rgba(169, 169, 169, 0.03) 100%),linear-gradient(0deg, rgba(133, 133, 133, 0.09) 0%, rgba(133, 133, 133, 0.09) 16.667%,rgba(114, 114, 114, 0.09) 16.667%, rgba(114, 114, 114, 0.09) 33.334%,rgba(80, 80, 80, 0.09) 33.334%, rgba(80, 80, 80, 0.09) 50.001000000000005%,rgba(212, 212, 212, 0.09) 50.001%, rgba(212, 212, 212, 0.09) 66.668%,rgba(9, 9, 9, 0.09) 66.668%, rgba(9, 9, 9, 0.09) 83.33500000000001%,rgba(173, 173, 173, 0.09) 83.335%, rgba(173, 173, 173, 0.09) 100.002%),linear-gradient(90deg, rgb(171, 127, 207),rgb(76, 20, 168)) }

    nav {
        font-family: 'Amiko', sans-serif;
    }

    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .username {
        font-size: 18px;
        margin-top: 14px;
        color: white;
    }

    .socials {
        list-style: none;
        text-align: center;
        padding: 0;

    }

    .socials li{
        display: inline-block;
        margin: 5px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: red;
    }

    .icon{
        width: 16px;
        height: 16px;
        display: inline-block;
        background-size: cover;
    }

    .email{
        background-image: url(./Iconos/email.png)
    }

    .twitter{
        background-image: url(./Iconos/twitter.png)
    }

    .facebook{
        background-image: url(./Iconos/facebook.png)
    }

    .about {
        padding:10px;

    }

    .about h3 {
        color: blue;
        font-size: 16px;
     } 

     .about p {
         color: blueviolet;
         font-size: 14px;

     }